<div>nooooo</div>
HOLA HOME
valor de la variable: {{prueba}} - {{vm.prueba}} {{$parent.vm.prueba}} <br>
valores de los objetos: {{modelo.objeto1.nombre}}
valores de los objetos: {{modelo.objeto2.apellidos}}

<div class="col-sm-2 col-xs-2">
    <label for="programa" class="control-label">combo como directiva</label>
    <an-combo name="clientes" ng-model="vm.idCliente"></an-combo>
</div>

<div class="col-sm-2 col-xs-2">
    <label for="programa" class="control-label">combo como directiva</label>
    <an-combo name="estados" ng-model="vm.idEstado"></an-combo>
</div>
